.circles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -300;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #6060602b;
    animation: animate 30s linear infinite;
    bottom: 0;
}

.circles li:nth-child(1){
    left: 30%;
    width: 80px;
    height: 80px;
    bottom: -100%;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-duration: 30s;
    bottom: -20%;
}

.circles li:nth-child(3){
    left: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    bottom: 80%;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 30s;
    bottom: -40%;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    bottom: 10%;
}

.circles li:nth-child(6){
    left: 10%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    bottom: 0;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 5s;
    bottom: 15%;
}

.circles li:nth-child(8){
    left: 40%;
    width: 25px;
    height: 25px;
    animation-delay: 10s;
    animation-duration: 45s;
    bottom: -80%;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    bottom: -60%;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 30s;
    bottom: 30%;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 30%;
    }

}